version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 5
    groups:
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - 'react-test-renderer'
          - '@types/react'
          - '@types/react-dom'
          - '@testing-library/*'
      vitest:
        patterns:
          - 'vitest'
          - '@vitest/*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 5
    groups:
      upload-download-artifact:
        patterns:
          - 'actions/upload-artifact'
          - 'actions/download-artifact'
